<div class="service-banner">
  <div class="banner-content">
    <h1><%= current_user.first_name %>'s Bookings List</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="well">
      <table class="table table-borderless table-condensed table-hover">
      <thead class="thead-default">
        <tr>
          <th>Booked Services</th>
          <th>Status</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
          <% @bookings.each do |booking| %>
        <tr>
          <td>
          <%= link_to service_path(booking.service) do %>
          <%= booking.service.name %>
          </td>
          <td><%= booking.status %></td>
          <td><%= link_to 'Delete', booking, method: :delete, class: 'btn btn-danger btn-sm' %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>