<div class="service-banner">
  <div class="banner-content">
    <h1><%= current_user.first_name %>'s Bookings List</h1>
  </div>
</div>


<body ng-app="app" ng-controller="main">
  <header>
      <h1>Objects <span>( {{ items.length }} )</span></h1>
    </header>
  <main>    

    <div class="ctrls">
      
      <div class="filter">
        <span class="m m-search"></span>
        <input type="text" ng-model="searchies" ng-change="onQueryChange(searchies)" class="form-control" placeholder="Filter">
      </div>

      <div class="grid-toggle">
        <a ng-click="gridToggle = !gridToggle" ng-class="{ 'active' : gridToggle }">
          <span class="m m-squares"></span>
          <span class="m m-form"></span>
        </a>
      </div>
      
    </div>
    
  
    <div class="container">
      
      <ul class="grid" ng-class="{ 'grid-list' : gridToggle, 'grid-thumb' : !gridToggle }">
        <li class="grid-head">
          <ul>
            <li style="width:40%"><a ng-click="sort_by('name')">Name</a></li>
            <li style="width:30%"><a ng-click="sort_by('user.name')">User</a></li>
              <li style="width:15%"><a ng-click="sort_by('date')">Date</a></li>
            <li style="width:15%"></li>
          </ul>
        </li>
        <li class="grid-body animate-repeat" ng-repeat="item in pagedItems[currentPage - 1] | orderBy:sortingOrder:reverse" ng-class="{'last':$last}">
          
          <ul>
            <li>
              
              <span class="grid-icon m" ng-class="item.icon"></span>
              <span class="grid-title"><a href="#">{{ item.name }}</a></span>
            </li>
            
            <li>
              <span class="grid-user">
                <span class="grid-usericon" ng-style="{ 'background' : item.user.color }">{{ item.user.name }}</span>
                <span class="grid-username">Updated by {{ item.user.name }}</span>
              </span>
            </li>
            
            <li>
              <span class="grid-date">{{ item.date }}</span>
            </li>
            
            <li>
              <span class="grid-options"><a href="#"><span class="m m-ellipsis"></span></a></span>
            </li>
          </ul>
          
        </li>
        
        <li class="clear-fix"></li>
        
        <li class="pagination">
          <pager total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()"></pager>
          <p ng-if="itemsPerPage * currentPage < totalItems">
            Showing {{ itemsPerPage * currentPage - itemsPerPage + 1 }} - {{ itemsPerPage * currentPage }} of {{ totalItems }} total items
          </p>
          <p ng-if="itemsPerPage * currentPage >= totalItems">
            Showing {{ itemsPerPage * currentPage - itemsPerPage + 1 }} - {{ totalItems }} of {{ totalItems }} total items
          </p>
        </li>
      </ul>
      
    </div>
    
  </main>
  
  <footer>
    <p>Me playing with a mockup for a searchable collection of objects using angularjs.</p>
  </footer>
  
</body>





<div class="container show-grey">
  <div class="row text-center">
    <h1><%= current_user.first_name %>'s bookings list</h1>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <ul class="list-unstyled">
        <% @bookings.each do |booking| %>
          <li>
            <h3>
              <%= link_to booking_path(booking) do %>
                <%= booking.service.name %>: <%= booking.title %>
                , <%= booking.status %>
                -
                <%= link_to 'Delete', booking, method: :delete %>
              <% end %>
            </h3>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

