<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="banner-content">
    <h1>List of Tasks & Services</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @services.each do |service| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
          <div class="card-description">
          <h2><%= service.name %></h2>
          <p><%= service.category %></p>
        </div>
          <img class="card-user avatar" src="user.jpg">
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    <% end %> 
  </div>
</div>





<table class="table">
  <caption>Optional table caption.</caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>user</th>
      </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
          <tr>
            <th scope="row"><%= service.id %></th>
            <td><%= service.name %></td>
            <td><%= service.category %></td>
            <td><%= service.provider.email %></td>
          </tr>
        <% end %>
  </tbody>
</table>
