

<main class="main">
  <div class="main-content">
    <div class="container-fluid">

      <% if !@services.empty? %>
        <% if @category %>
          <div class="row">
            <% @services.each do |item| %>
                <div class="col-xs-12 col-sm-6">
                  <%= link_to service_path(item) do %>
                      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://lorempixel.com/400/200/<%= @photo %>');">
                        <div class="category">
                          <p><%= item.category %></p>
                        </div>
                        <div class="card-info-data">
                          <div class="card-name left">
                            <h4><%= item.name.capitalize %></h4>
                          </div>
                          <div class="card-details right">
                            <p class="card-price">$<%= item.price %></p>
                          </div>
                          <%= cl_image_tag item.provider.profile_photo, class: 'card-user avatar' %>
                        </div>
                      </div>
                  <% end %>
                </div>
            <% end %>
          </div>
        <% else %>

          <div class="row">
          <% @services.each do |service| %>
            <div class="col-xs-12 col-sm-6">
              <%= link_to service_path(service) do %>

                    <div class="card item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= picture_url(service) %>);">



                      <div class="category">
                        <p><%= service.category %></p>
                      </div>
                      <div class="card-info-data">
                        <div class="card-name left">
                          <h4><%= service.name.capitalize %></h4>
                        </div>
                        <div class="card-details right">
                          <p class="card-price">$<%= service.price %></p>
                        </div>

                        <%= cl_image_tag service.provider.profile_photo, class: 'card-user avatar' %>
                      </div>
                      <div class="hidden-address" style="visibility: hidden;"><%= service.address %></div>
                    </div>
                  <% end %>
                </div>
             <% end %>
            </div>
          <% end %>

        <% else %>
          <div class="row">
            <h1 style="text-align:center;">

              Nothig to show
              <%# unless @lat_lng %>
                <!-- <script>
                  setTimeout(function() {
                    getGeoLocation();
                  }, 500)
                </script> -->
              <%# end %>
            </h1>
          </div>

          <% end %>
      </div>
  </div>

  <div id="map">

    <!-- MAP -->

  </div>
</main>

  <% content_for(:after_js) do %>
    <script>
      $(document).ready(function() {


        // $('.card.item').mouseenter(function() {
        //   console.log($(this).find(".hidden-address")[0].innerHTML);
        // })








        // --------------- Map ----------------

        var infoWindow;
        infoWindow = new google.maps.InfoWindow;

        var handler = Gmaps.build('Google');
        var user_loc = getGeoLocation();

        handler.buildMap({ provider: { scrollwheel: false, zoomControl: true }, internal: { id: 'map' } }, function() {

          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          // markers = handler.addMarkers(document.cookie[0],document.cookie[1]);
          // console.log(markers)
          // console.log(document.cookie)

          // markers.createMarker({Lat: Gmaps.map.userLocation.lat(),
          //   Lng: Gmaps.map.userLocation.lng(),
          //   rich_marker: null
          //  })
          // console.log(markers[0]);

          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();

          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }




          // ------------ Places API -------------

          function initialize() {
            var pyrmont = new google.maps.LatLng(-33.8665433,151.1956316);
            map = new google.maps.Map(document.getElementById('map'), {
                center: pyrmont,
                zoom: 15
              });

            var request = {
              location: pyrmont,
              radius: '500',
              query: 'restaurant'
            };

            service = new google.maps.places.PlacesService(map);
            service.textSearch(request, callback);
          }

          function callback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
              for (var i = 0; i < results.length; i++) {
                var place = results[i];
                createMarker(results[i]);
              }
            }
          }

          function createMarkers(places) {
            var bounds = new google.maps.LatLngBounds();
            var placesList = document.getElementById('places');

            for (var i = 0, place; place = places[i]; i++) {
              var image = {
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(25, 25)
              };

              var marker = new google.maps.Marker({
                map: map,
                icon: image,
                title: place.name,
                position: place.geometry.location
              });

              placesList.innerHTML += '<li>' + place.name + '</li>';

              bounds.extend(place.geometry.location);
            }
          };

          // initialize();

      }); // ----- Handler END ------
    });
  </script>
<% end %>
