<!--
<span class="input input--yoshiko input--filled">
  <input class="input__field input__field--yoshiko" type="text" id="input-11">
  <label class="input__label input__label--yoshiko" for="input-11">
    <span class="input__label-content input__label-content--yoshiko" data-content="Wing Span">Wing Span</span>
  </label>
</span> -->


<!-- <span class="input input--sae">
  <input class="input__field input__field--sae" type="text" id="input-18">
  <label class="input__label input__label--sae" for="input-18">
    <i class="fa fa-fw fa-pencil icon icon--sae"></i>
    <span class="input__label-content input__label-content--sae">Invitation Code</span>
  </label>
</span> -->



<span class="input input--kaede">
  <input class="input__field input__field--kaede" type="text" id="input-35" />
  <label class="input__label input__label--kaede" for="input-35">
    <span class="input__label-content input__label-content--kaede">First Name</span>
  </label>
</span>
<span class="input input--kaede">
  <input class="input__field input__field--kaede" type="text" id="input-36" />
  <label class="input__label input__label--kaede" for="input-36">
    <span class="input__label-content input__label-content--kaede">Last Name</span>
  </label>
</span>
<span class="input input--kaede">
  <input class="input__field input__field--kaede" type="text" id="input-37" />
  <label class="input__label input__label--kaede" for="input-37">
    <span class="input__label-content input__label-content--kaede">Website</span>
  </label>
</span>





<div class="service-banner">
  <div class="banner-content">
      <h1>Add a New Service</h1>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
        <h1>New Service</h1>
        <%= simple_form_for(@service) do |f| %>
          <%= f.input :name %>
          <%= f.input :address, id: "service_address" %>
          <%= f.input :category, collection: @categories.each { |item| item }  %>
          <%= f.input :description %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.input :price %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
