<div class="container show-grey">
  <h1 class="text-center show-title"><%= @service.name %></h1>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 col-sm-4 col-sm-offset-0 ">
      <!-- Conditional: if no profile_photo is available, don't show -->
      <% if @service.provider.profile_photo %>
        <img src="<%#= cl_image_path @service.provider.profile_photo %>" class="img-circle img-responsive">
        <!-- <div class="avatar img-responsive">
          <%= cl_image_tag @service.provider.profile_photo %>
        </div> -->
      <% end %>

      <div class="show-margin-vertical text-center">
        <%= @service.provider.first_name %>
        <%= @service.provider.last_name %>
      </div>
      <div><%= link_to 'Book now', "#", class: "btn btn-primary show-margin-vertical center-block" %></div>
    </div>
    <div class="col-xs-offset-3 col-xs-6 col-sm-8 col-sm-offset-0 ">
      <div class="show-margin-vertical"><%= @service.description %></div>
      <!-- <div class="btn btn-warning show-margin-vertical"><%= @service.category %></div> -->
      <div class="btn btn-warning show-margin-vertical"><%= link_to @service.category, services_path(category: @service.category) %></div>

      <div class="show-margin-vertical"><%= @service.price %> $/h</div>

      <div>
      <%= image_tag @service.photo, height: 300, width: 400, crop: :fill  %>
      </div>
    </div>
  </div>
</div>


 <div id="map"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @service_coordinates.to_json %>;
      alert('Service coordinates are ' + coord.lat + ', ' + coord.lng);
      console.log('Service coordinates are ' + coord.lat + ', ' + coord.lng);






      var handler = Gmaps.build('Google', { markers: { clusterer: undefined }});
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers([
          {
            "lat": 43.3027392,
            "lng": 5.3765816,
            "infowindow": "<h1>Aix - Marseille</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/008/thumbnail/marseille.jpg?1445520529' height='200'></p>"
          },
          {
            "lat": 52.3431438,
            "lng": 4.8291689,
            "infowindow": "<h1>Amsterdam</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/011/thumbnail/amsterdam.jpg?1453219893' height='200'></p>"
          },
          {
            "lat": 33.8937913,
            "lng": 35.5017767,
            "infowindow": "<h1>Beirut</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/004/thumbnail/beirut.jpg?1445520746' height='200'></p>"
          },
          {
            "lat": -19.9156207,
            "lng": -43.9345931,
            "infowindow": "<h1>Belo Horizonte</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/018/thumbnail/BH.jpg?1467361247' height='200'></p>"
          },
          {
            "lat": 44.8418706,
            "lng": -0.5706669,
            "infowindow": "<h1>Bordeaux</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/005/thumbnail/bordeaux.jpg?1445962618' height='200'></p>"
          },
          {
            "lat": 50.8474433,
            "lng": 4.3591849,
            "infowindow": "<h1>Brussels</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/002/thumbnail/brussels.jpg?1445520592' height='200'></p>"
          },
          {
            "lat": 55.699662,
            "lng": 12.532918,
            "infowindow": "<h1>Copenhagen</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/013/thumbnail/k%C3%B8benhavn-bg.jpg?1454509826' height='200'></p>"
          },
          {
            "lat": 50.6333542,
            "lng": 3.0203766,
            "infowindow": "<h1>Lille</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/003/thumbnail/lille.jpg?1445520692' height='200'></p>"
          },
          {
            "lat": 38.7324346,
            "lng": -9.1423852,
            "infowindow": "<h1>Lisbon</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/009/thumbnail/8130866554_0faf8af6e6_k.jpg?1447424100' height='200'></p>"
          },
          {
            "lat": 51.5213244,
            "lng": -0.0766771,
            "infowindow": "<h1>London</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/014/thumbnail/2722715933_ed5a01fa23_o.jpg?1457434940' height='200'></p>"
          },
          {
            "lat": 45.764043,
            "lng": 4.835659,
            "infowindow": "<h1>Lyon</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/016/thumbnail/1024px-Lyon_basilique_de_fourvie%CC%80re.jpg?1463049986' height='200'></p>"
          },
          {
            "lat": 47.218371,
            "lng": -1.553621,
            "infowindow": "<h1>Nantes</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/012/thumbnail/nantes.jpg?1453388206' height='200'></p>"
          },
          {
            "lat": 48.8648482,
            "lng": 2.3798534,
            "infowindow": "<h1>Paris</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/001/thumbnail/15079403417_371f698d27_k.jpg?1445521241' height='200'></p>"
          },
          {
            "lat": -22.97754,
            "lng": -43.234288,
            "infowindow": "<h1>Rio de Janeiro</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/019/thumbnail/rio_1.jpg?1469439835' height='200'></p>"
          },
          {
            "lat": -23.5591728,
            "lng": -46.6801402,
            "infowindow": "<h1>São Paulo</h1><p><img src='https://d1gofzrmx0fcbg.cloudfront.net/production/cities/city_pictures/000/000/015/thumbnail/12280389883_aecfecfc0e_h.jpg?1458582747' height='200'></p>"
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });

    });
  <% end %>
<% end %>
