<div class="container">
  <h1 class="text-center"><%= @service.name %></h1>
  <div class="row" id="show">
    <div class="col-xs-12 col-md-4">
      <%= @service.provider.profile_photo %>
      <%= @service.provider.first_name %>
      <%= @service.provider.last_name %>
    </div>
    <div class="col-xs-12 col-md-8">
      <%= @service.description %>
      <%= @service.category %>
      <%= @service.price %>
    </div>
  </div>
</div>
