<div class="container show-grey">
  <h1 class="text-center show-title"><%= @service.name %></h1>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6 col-sm-4 col-sm-offset-0 ">
      <!-- Conditional: if no profile_photo is available, don't show -->
      <% if @service.provider.profile_photo %>
        <img src="<%#= cl_image_path @service.provider.profile_photo %>" class="img-circle img-responsive">
        <!-- <div class="avatar img-responsive">
          <%= cl_image_tag @service.provider.profile_photo %>
        </div> -->
      <% end %>

      <div class="show-margin-vertical text-center">
        <%= @service.provider.first_name %>
        <%= @service.provider.last_name %>
      </div>
      <div><%= link_to 'Book now', new_service_booking_path(@service), class: "btn btn-primary show-margin-vertical center-block" %></div>
    </div>
    <div class="col-xs-offset-3 col-xs-6 col-sm-8 col-sm-offset-0 ">
      <div class="show-margin-vertical"><%= @service.description %></div>
      <!-- <div class="btn btn-warning show-margin-vertical"><%= @service.category %></div> -->
      <div class="btn btn-warning show-margin-vertical"><%= link_to @service.category, services_path(category: @service.category) %></div>

      <div class="show-margin-vertical"><%= @service.price %> $/h</div>

      <div>
      <%= image_tag @service.photo, height: 300, width: 400, crop: :fill  %>
      </div>
    </div>
  </div>
</div>
