<div class="service-banner">
  <div class="banner-content">
    <h1>Service Details</h1>
  </div>
</div>

	<!-- Start Content Block 1-2 -->
	<section id="content-1-2" class="content-block content-1-2">
		<div class="container">
			<!-- Start Row -->
			<div class="row">
				<div class="col-sm-6">
					<div class="editContent">
						<h2><%= @service.name %></h2>
            <h3><span id="price"><%= @service.price %> $/h</span></h3>
					</div>
					<div class="editContent">
						<p class="lead">"<%= @service.description %>"</p>
					</div>
					<div class="editContent">
						<p>
              Service provided by
              <%= link_to user_path(@service.provider) do %>
                <%= @service.provider.first_name %> <%= @service.provider.last_name %>
              <% end %><br/ >
              Address: <%= @service.address %><br />
              <%= link_to @service.category, services_path(category: @service.category), class: 'btn btn-medium' %>
            </p>
					</div>
					<div class="row">
						<div class="col-sm-5 col-xs-12">
              <%= link_to 'Book now', new_service_booking_path(@service), class: 'btn btn-block btn-primary' %>
						</div>
					</div>
				</div>

				<div class="col-sm-5 col-sm-offset-1">
          <%= image_tag @service.photo, height: 400, width: 600, crop: :fill, class: 'img-rounded img-responsive' %>
				</div>
			</div>
			<!--// END Row -->
		</div>
	</section>
    <!--// END Content Block 1-2 -->

<div id="map" style="width: 100%; height: 500px;"></div>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {

      var infoWindow;
      infoWindow = new google.maps.InfoWindow;

      var handler = Gmaps.build('Google');

      handler.buildMap({ provider: { scrollwheel: false, zoomControl: true }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);

        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();

        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });  // ----- Handler END ------



        // ------------ Places -------------

        function initialize() {
          var pyrmont = new google.maps.LatLng(-33.8665433,151.1956316);
          console.log("inisde init")
          map = new google.maps.Map(document.getElementById('map'), {
              center: pyrmont,
              zoom: 15
            });

          var request = {
            location: pyrmont,
            radius: '500',
            query: 'restaurant'
          };

          service = new google.maps.places.PlacesService(map);
          service.textSearch(request, callback);
        }

        function callback(results, status) {
          if (status == google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
              var place = results[i];
              createMarker(results[i]);
            }
          }
        }

        function createMarkers(places) {
          var bounds = new google.maps.LatLngBounds();
          var placesList = document.getElementById('places');

          for (var i = 0, place; place = places[i]; i++) {
            var image = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            var marker = new google.maps.Marker({
              map: map,
              icon: image,
              title: place.name,
              position: place.geometry.location
            });

            placesList.innerHTML += '<li>' + place.name + '</li>';

            bounds.extend(place.geometry.location);
          }
        };

        // initialize();
        console.log("OIK")





  });
  </script>
<% end %>
