<div class="service-banner">
  <div class="banner-content">
    <h1>Personal Profile</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="text-center">Edit Your Profile</h2>
      <div class="well">
        <%= cl_image_tag @user.profile_photo, class: "img-circle img-responsive" %>
        <%= simple_form_for(@user, url: '/profile' ) do |f| %>
        <%= f.input :profile_photo %>
        <%= f.input :profile_photo_cache, as: :hidden %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :username %>
        <%= f.input :bio %>
        <%= f.submit "Update Profile", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>