<div class="row">
  <div class="service-banner">
    <div class="banner-content">
      <h1><%= @user.first_name %> <%= @user.last_name %> Profile</h1>
    </div>
  </div>
</div>

<div class="container profile">
  <div class="row">
    <div class="col-md-3 text-center">
      <%= image_tag @user.profile_photo, class: 'avatar-show-img' %><br />
      <%= link_to 'Edit profile', edit_profile_path, class: 'btn btn-primary' %>
    </div>
    
    <div class="col-md-6">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <p><strong>Email Address:</strong> <%= @user.email %><br/>
          <strong>Username:</strong> <%= @user.username %></p>
      <div class="well profile-block profile-description">
        <h3>Bio</h3>
        <%= @user.bio %>
      </div>
    </div>
  </div>
</div>

