<% content_for(:title) do %>
  <%= @user.first_name + " " + @user.last_name + " is on HeyTask" %>
<% end %>

<% content_for(:description) do %>
  <%= @user.first_name + " " + @user.last_name + " is on HeyTask" %>
<% end %>

<div class="row">
  <div class="service-banner">
    <div class="banner-content">
      <h1><%= @user.first_name %> <%= @user.last_name %> Public Profile</h1>
    </div>
  </div>
</div>


<div class="container profile">
  <div class="row">
    <div class="col-md-3 text-center">
      <%= image_tag @user.profile_photo, class: 'avatar-show-img' %><br />
    </div>

    <div class="col-md-6">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <div class="well profile-block profile-description">
        <h3>Bio</h3>
        <%= @user.bio %>
      </div>
    </div>
  </div>
</div>


<div class="wrapper services-show">
<div class="container">
  <div class="row">
    <h2 class="text-center service-title">Sevices Provided</h2>

<% @user.services.each do |service| %>
      <%= link_to service_path(service) do %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= picture_url(service) %>');">
            <div class="category">
              <p><%= service.category %></p>
            </div>
            <div class="card-info-data">
              <div class="card-name left">
                <h4><%= service.name %></h4>
              </div>
              <div class="card-details right">
                <p class="card-price">$<%= service.price %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
