<% content_for(:title) do %>
  <%= @user.first_name + " " + @user.last_name + " is on HeyTask" %>
<% end %>

<% content_for(:description) do %>
  <%= @user.first_name + " " + @user.last_name + " is on HeyTask" %>
<% end %>

<div class="row">
  <div class="service-banner">
    <div class="banner-content">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-3 col-md-offset-1">
    <div class="text-center">
      <div><%= cl_image_tag @user.profile_photo, class: 'img-circle img-responsive', style: 'margin-bottom: 10px' %></div>
      <ul class="list-unstyled">
        <h4><li>Username: <%= @user.username %></li></h4>
        <p><li>Bio: <%= @user.bio %></li></p>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-7">
    <h2 class="text-center" style="margin-top: 0">Sevices</h2>

    <% @user.services.each do |service| %>
      <%= link_to service_path(service) do %>
        <div class="col-xs-12 col-md-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path service.photo %>');">
            <div class="category">
              <p><%= service.category %></p>
            </div>
            <div class="card-info-data">
              <div class="card-name left">
                <h4><%= service.name %></h4>
              </div>
              <div class="card-details right">
                <p class="card-price">$<%= service.price %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
