<div class="banner">
  <div class="banner-content">
    <h1>HeyTask</h1>
    <p>Need a personal trainer? How about somebody who can floss your cat and do the dishes at the same time?</p>
  </div>
</div>

<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2"> -->
      <div class="category-bar">
        <%= link_to services_path(category: "cleaning") do %>
          <i class="fa fa-home" aria-hidden="true"></i>
        <% end %>
        <%= link_to services_path(category: "cooking") do %>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
        <% end %>
        <%= link_to services_path(category: "gardening") do %>
          <i class="fa fa-pagelines" aria-hidden="true"></i>
        <% end %>
        <%= link_to services_path(category: "business") do %>
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <% end %>
        <%= link_to services_path(category: "techical") do %>
          <i class="fa fa-android" aria-hidden="true"></i>
        <% end %>
      <!-- </div> -->

    <!-- </div> -->
  <!-- </div> -->
</div>

<div class="filler">
  <div class="container">
    <div class="text-center">
      <% if user_signed_in? %>

        <h1>Hello, <%= current_user.first_name %>! Welcome. Come and spend some money with us.</h1>
      <% else %>
        <h1>Hello stranger! Welcome. Come and spend some money with us.</h1>
      <% end %>
    </div>
  </div>
</div>

<div class="about-heytask">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-6 temp-card">
        <%= image_tag("http://independentpa.co/media/2016/02/assistant1.png", class: "about-heytask-photo") %>
      </div>
      <div class="col-xs-12 col-sm-6 temp-card">
        <h2 class="text-center">Why HeyTask?</h2>
        <ul>
          <li>
            <h3>We are amazing</h3>
            <h5>Our competitors like to watch Jersey Shore</h5>
          </li>
          <li>
            <h3>We are unbelievable</h3>
            <h5>Just wow!</h5>
          </li>
          <li><h3>We are fairly priced compared to our competitors</h3></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <div class="page-grid">
  <div class="column-lg-6">
      <h2 class="AboutThumbtack-headline H2-R">How Thumbtack works</h2>
  </div>
</div>
<div class="page-grid AboutThumbtack-wrapper">
  <div class="AboutThumbtack-image column-lg-3">

  <div class="AboutThumbtack-content column-lg-3">
                      <h3 class="AboutThumbtack-stepTitle H4-R">1. Tell us what you need</h3>
      <p class="AboutThumbtack-stepText B2-S">First, answer a few quick questions about what type of pro you’re looking for.</p>
                      <h3 class="AboutThumbtack-stepTitle H4-R">2. Review free quotes</h3>
      <p class="AboutThumbtack-stepText B2-S">Within hours, you’ll receive up to five custom quotes based on your specific needs.</p>
                      <h3 class="AboutThumbtack-stepTitle H4-R">3. Hire the right pro</h3>
      <p class="AboutThumbtack-stepText B2-S">Compare quotes, profiles, and reviews, then hire the pro that’s right for you.</p>
                  </div>
        </div>
    </div>
 -->






</div>


