<div class="banner">
  <div class="banner-content">
    <h1>HeyTask</h1>
    <p>Need someone to run your errands or send an important letter but you don't have time. Whatever you need, We have hundred of people ready to help you!</p>
    <form action="/services" method="get" class="navbar-wagon-search">
      <input type="text" name="search" class="navbar-wagon-search-input" placeholder="personal trainer in Meguro">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</div>
<div class="category-bar">
  <%= link_to services_path(category: "cleaning") do %>
    <i class="fa fa-home" aria-hidden="true"></i>
  <% end %>
  <%= link_to services_path(category: "cooking") do %>
    <i class="fa fa-cutlery" aria-hidden="true"></i>
  <% end %>
  <%= link_to services_path(category: "gardening") do %>
    <i class="fa fa-pagelines" aria-hidden="true"></i>
  <% end %>
  <%= link_to services_path(category: "business") do %>
    <i class="fa fa-pie-chart" aria-hidden="true"></i>
  <% end %>
  <%= link_to services_path(category: "techical") do %>
    <i class="fa fa-android" aria-hidden="true"></i>
  <% end %>
</div>

<div class="filler">
  <div class="container">
    <div class="text-center">
      <% if user_signed_in? %>

        <h1>Hello, <%= current_user.first_name %>! Welcome. Come and spend some money with us.</h1>
      <% else %>
        <h1>Hello stranger! Welcome. Come and spend some money with us.</h1>
      <% end %>
    </div>
  </div>
</div>