<div class="banner">
  <div class="banner-content">
    <h1>HeyTask</h1>
    <p>Need someone to run your errands or send an important letter but you don't have time. Whatever you need, We have hundred of people ready to help you!</p>




    <!-- Option 1: autocomplete by type (google places API), more shitty looking -->

    <!-- <form action="/services" method="get" class="navbar-wagon-search">
      <input type="text" name="search" class="navbar-wagon-search-input" placeholder="personal trainer in Meguro">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

    <!-- Option 2: slick lookin, no autocomplete -->

  <form action="/services" method="get" class="input input--makiko">
    <input class="input__field input__field--makiko" type="text" name="search" id="input-16" autocomplete=”off”>
    <label class="input__label input__label--makiko" for="input-16">
      <span class="input__label-content input__label-content--makiko">Search</span>
    </label>
    <input type="submit" value="Submit" class="visibility: hidden">
  </form>


  </div>
</div>
<div class="category-bar">
  <%= link_to services_path(category: "cleaning") do %>
    <i class="fa fa-home" aria-hidden="true"></i>
  <% end %>
  <%= link_to services_path(category: "cooking") do %>
    <i class="fa fa-cutlery" aria-hidden="true"></i>
  <% end %>
  <%= link_to services_path(category: "gardening") do %>
    <i class="fa fa-pagelines" aria-hidden="true"></i>
  <% end %>
  <%= link_to services_path(category: "business") do %>
    <i class="fa fa-pie-chart" aria-hidden="true"></i>
  <% end %>
  <%= link_to services_path(category: "techical") do %>
    <i class="fa fa-android" aria-hidden="true"></i>
  <% end %>
</div>

<div class="mini-banner">
  <div class="mini-banner-content">
    <h2>Get Things Done, Fast & Easily!</h2>
  </div>
</div>

<section class="container-flex">
  <div class="section">
    <h3>SEARCH</h3>
  </div>
  <div class="section">
  <h3>CHOOSE</h3>
  </div>
  <div class="section">
  <h3>BOOK</h3>
  </div>
</section>
