<div class="service-banner" style="margin-bottom: 0">
  <div class="banner-content">
    <h1>List of Your Upcoming Gigs</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="well">
      <table class="table table-borderless table-condensed table-hover">
      <thead class="thead-default">
        <tr>
          <th>Services</th>
          <th>Status</th>
          <th>Accept</th>
          <th>Reject</th>
        </tr>
      </thead>
      <tbody>
          <% @gigs.each do |gig| %>
        <tr>
          <td><%= link_to gig_path(gig) do %><%= gig.service.name %><% end %></td>
          <td><%= gig.status %></td>
          <td><%= link_to 'Accept', accept_gig_path(gig), method: :patch, class: 'btn btn-primary btn-sm' %></td>
          <td><%= link_to 'Reject', reject_gig_path(gig), method: :patch, class: 'btn btn-danger btn-sm' %></td>
        </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>