<div class="service-banner" style="margin-bottom: 0">
  <div class="banner-content">
    <h1>About Your Gig</h1>
  </div>
</div>

<section id="content-3-3" class="content-block-nopad content-3-3">
  <div class="overlay">
    <div class="container text-center">
      <div class="editContent">
        <h2><%= link_to service_path(@gig.service) do %>
            <%= @gig.service.name %>
        </h2>
          </div>
            <div class="editContent">
                <h3>User: <%= link_to user_path(@gig.user) do %>
                  <%= @gig.user.first_name %> <%= @gig.user.last_name %>
                  <% end %>
                </h3>
                <h3>
                  Place: <%= @gig.service.address %>
                </h3>
            </div>
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="col-md-6">
                        <%= link_to 'Accept', accept_gig_path(@gig), method: :patch, class: 'btn btn-primary btn-sm' %>
                    </div>
                    <div class="col-md-6">
                        <%= link_to 'Reject', reject_gig_path(@gig), method: :patch, class: 'btn btn-danger btn-sm' %>
                    </div>
                </div>
<% end %>
            </div>
        </div>
</section>